.chat-container {
    width: calc(40% - 140px - 40px);
    height: 94%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 15px;
}

.chat-message {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
.chat-user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}
.chat-ai-message {
    background-color: #e0e0e0;
    color: black;
}
.chat-input-container {
    display: flex;
    width: 100%;
    padding: 10px 0;
}
.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}